<html>
  <head>
    <title>Weather Map</title>
    
  </head>
  <body>
    
<div class="container-fluid">
  <div class="row map-title">
    <mat-card>
      <div class="header text-center"><h1>Weather Forecast</h1></div>
    </mat-card>
    
  </div>
  <div class="row canvas">
    <div class="col-xs-12 col-md-3 ">
      <div *ngIf="weatherdetails" >
        <mat-card class="weather-card">
          <mat-card-title-group>
            <mat-card-title>{{(weatherdetails?.main?.temp-273.15).toFixed(2)}}°C</mat-card-title>
            <mat-card-subtitle>{{weatherdetails?.name}}</mat-card-subtitle>
            <img mat-card-xs-image [src]="iconurl" height="50px">
          </mat-card-title-group>
          <mat-card-content> 
            <span class="h5"> {{weatherdetails?.weather[0]?.main}}</span>
            <span class="text text-right"> -  {{weatherdetails?.weather[0]?.description}}</span>
          </mat-card-content>
          <mat-card-content> 
            
          </mat-card-content>
          
          <mat-card-content>
            <p >Feels like {{(weatherdetails?.main?.feels_like-273.15).toFixed(2)}}°C</p>
          </mat-card-content>
          <mat-card-content></mat-card-content>
        </mat-card>
      </div>
      <div class="forecast-card">
        <mat-card>
          <mat-card-title-group>
            <mat-card-title *ngIf="forecastList">{{weatherdetails?.name}} Forecast</mat-card-title>
            <mat-card-subtitle *ngIf="!forecastList">Please click any place on map to get more data</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
            <table mat-table [dataSource]="forecastList" class="mat-elevation-z8" *ngIf="forecastList">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> date </th>
                <td mat-cell *matCellDef="let element"> {{(element?.time | date:'mediumDate')!.split(',')[0]}} </td>
              </ng-container>
              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> time </th>
                <td mat-cell *matCellDef="let element"> {{element.time | date:'shortTime'}} </td>
              </ng-container>
              <ng-container matColumnDef="temp">
                <th mat-header-cell *matHeaderCellDef> temp </th>
                <td mat-cell *matCellDef="let element"> {{(element.temp-273.15).toFixed(2)}}°C </td>
              </ng-container>
              <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> 
                  <img mat-card-xs-image [src]="element.iconurl" >
                   </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="historic"></div>
    </div>
    <div class="col-xs-12 col-md-9">
      <div id="map">
        
      </div>
      <div class="row">

      </div>
      <!-- <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    /> -->
    </div>
  </div>
</div>
  </body>
</html>