html {
  height: 100%
}
body {
  background: #366fcd;
  //background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  width: 100%;
  height: 100%;
  margin: 0;
  background-attachment:fixed;
  background-repeat: no-repeat;
  overflow-x: scroll;
}

#map {
    // height: 800px;
    /* The height is 400 pixels */
    width: 100%;
    height: 100%;
    border: aquamarine 2px;
    border-radius: 10px;
    /* The width i\
    s the width of the web page */
     min-height: 400px;
     margin-bottom: 10px;
     
  }
  
  @media only screen and (min-width: 600px) {
    .forecast-card {
      max-height:600px;
    }
  }
  .weather-card {
    width: 100%;
    height: 150;
    max-height: 200px;
    margin: 10px;
    background: radial-gradient(circle, rgba(156,130,141,1) 0%, rgba(140,148,159,1) 100%);
    //margin:0 0 10px 10px;
  }
.example-card {
  background: radial-gradient(circle, rgba(156,130,141,1) 0%, rgba(140,148,159,1) 100%);
}
.canvas {
  height: 800px;
}
.forecast-card {
  box-sizing: border-box;  
  overflow: scroll;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
  max-height: 300px;
  //margin-left: 10px;
}
.forecast-card::-webkit-scrollbar {
  display: none;
}

.mat-table {
  width: 100%;
}
.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 10px;
  padding: 10px 11px 5px 13px;
  text-overflow: ellipsis;
  width: 400px;
  height: 40px;
  border-radius: 10px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}
#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}
.map-title {
  padding: 10px 10px 10px 20px;

}
mat-card  {
  background: rgb(50,44,55);
background: linear-gradient(0deg, rgba(50,44,55,1) 0%, rgba(148,165,170,1) 100%);
}
table {
  background: rgb(28,66,71);
background: linear-gradient(93deg, rgba(28,66,71,1) 46%, rgba(227,249,255,1) 100%);
}